{% extends 'main/dad.html' %}
{% block body %}
<div>
    <div class="hats">
        <img class="hats_img" src="https://cdn.pixabay.com/photo/2019/09/12/18/29/street-cafe-4472312_1280.jpg">
    </div>
    <div class="content_text">
        <h1>Меню «Кавуна»</h1>
        <p>Трохи кави. Трохи солодкого. І багато любові ❤️</p>
        <p>Ми віримо, що щастя починається з маленьких речей — горнятка ароматної кави чи шматочка улюбленого десерту.</p>
    </div>
<div class="content">
{% for category in categories %}
    {% if category.id %}
        <a href="{% url 'category_detail' category.id %}" class="content_item">
            <img class="content_img" src="{{ category.image.url }}" alt="{{ category.name }}">
            <div class="overlay_text">{{ category.name }}</div>
        </a>
    {% endif %}
{% endfor %}
</div>

</div>


{% endblock %}

